.containert {  
    height: 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    width: 270px;
    align-items: center;
    justify-content: center;
    background-color:  rgba(0,0,0,0.5);
    color: white;
}

.link{
    text-decoration: none;
    color: white;
}